* {
  box-sizing: border-box;
}

#selector {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20%;
}

.color-box {
  height: 300px;
  width: 250px;
  background: rgb(235, 225, 235);
  justify-content: space-around;
  flex-direction: column;
  padding: 15px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.color input {
  display: flex;
  text-align: center;
  height: 150px;
  width: 150px;
  background-color: rgb(235, 225, 235);
  border: none;
  margin-left: calc(50% - 75px);
  margin-top: 5px;
}

.input {
  height: 150px;
  width: 185px;
  padding: 0.5rem;
  background-color: rgb(235, 225, 235);
  border: none;
  margin-top: 5px;
}

span {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: 5px;
  padding: 2px;
}

/* .span-input {
  background-color: rgb(235, 225, 235);
  border: none;
  height: 18px;
  width: 80px;
} */
