* {
  box-sizing: border-box;
}

#selector {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 5%;
}

input {
  height: 35px;
  width: 100px;
  background: rgb(243, 238, 243);
  border: none;
}

#color-box {
  height: 350px;
  width: 250px;
  margin-top: 2rem;
  background: rgb(243, 238, 243);
  justify-content: space-around;
  flex-direction: column;
  padding: 15px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

#color-box .colorbox {
  display: flex;
  text-align: center;
  height: 170px;
  width: 200px;
  background-color: rgb(0, 0, 0);
  border: none;
  margin-left: calc(50% - 100px);
  margin-top: 20px;
}

.hex,
.rgb,
.hsl {
  display: flex;
  align-items: flex-start;
  margin-top: 0.8rem;
  padding: 2px;
}
