* {
  box-sizing: border-box;
}

#selector {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 5%;
}

input {
  height: 25px;
  width: 80px;
  display: inline-block;
}

#color-box {
  height: 300px;
  width: 250px;
  margin-top: 2rem;
  background: rgb(235, 225, 235);
  justify-content: space-around;
  flex-direction: column;
  padding: 15px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

#color-box .colorbox {
  display: flex;
  text-align: center;
  height: 150px;
  width: 200px;
  background-color: rgb(0, 0, 0);
  border: none;
  margin-left: calc(50% - 100px);
  margin-top: 20px;
}

.hex,
.rgb,
.hsl {
  display: flex;
  align-items: flex-start;
  margin-top: 10px;
  padding: 2px;
}
